/* warnanavbarheader */
.navbar-inverse
{
    background-color: #00f;
    border-color: #ff0;
    font-size: 13pt;
}

/* warna tulisan judul navbar header*/
.navbar-inverse .navbar-brand
{
    color: #ff0;
    font-family: "Engravers MT";
}

/* warna tulisan hover navbar */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover
{
    color: #f00;
    font-weight: bold;
    background-color: #fff;
    border: 0px solid;
    border-radius: 5px;
}

/* warna navbar active*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #F00;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 5px;
}

/* border navbar */
.navbar-static-top {
    z-index: 1000;
    border-width: 2px 2px 2px ;
}

/*warna tulisan navbar */
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* untuk menu dropdown */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #f1A900;
}

/*untuk warna menu dropdown mode kecil di hover*/
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #F00;
    background-color: #ff0;
}

/* untuk warna tulisan menu dropdown*/
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #f00;
}

/*warna active dropdown*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
background-color: #0ab1c0;
}

body{
  background-color: #252830;
}

h1{
  color:#1ca8dd;}

h2,h4{
  color:#1bc98e;
}
p, li{
  color: #fff;
}

label{
  color:#fff;
}

/*warna tabel anggota*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
    border-color: #f00;
    color:#fff;
}

/*jarak navbar dengan panel*/
.jarak
{
  margin: 130px auto 20px;
}

/*jarak judul dengan isi*/
.jarak2
{
  margin: 50px auto 20px;
}

/*tombol form perndaftaran*/
 .tombolku
 {
   background-color: #4517f4;
   color: #fff;
   font-size: 14pt;
 }

/*atur warna panel*/
.panel ,.panel-default
{background-color: #434857;}

/*untuk kasi tengah tulisan*/
.tengah
{text-align: center;}

/*Perbesar tulisan kecil*/
.besar
{font-size: 18px;}

/*untuk bikin bundar hover dan active di menu dropdown*/
.dropdown, .dropdown-menu, a,a:hover{
  border-radius:10px;
}
